.btn{
    background-color: #fdfdfd;
    border-style: solid;
    border-color: #111188;
    border-width: 1px;
    height: 22px;
    /*box-shadow: 1px -1px 1px #000033;*/
}
.btn:hover{
    background-color:#f1f1f1;
    border-color: #551188;
}

div.chbox{
    height: 22px;
    font-family: "Lucida Console";
    font-size: 12px;
    box-shadow: 0px 0px 3px #000033;
    text-shadow: 0px 0px 1px #a6a6a6;
}

div.chbox:hover{
    background-color: #f1f1f1;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    cursor: pointer;
}

div.sidePanel{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    /*-webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);*/
    border-color: navy;
    border-style: solid;
    box-shadow: 10px 10px 10px 1px #827e7d;
    background-color: #fefefe;
}
/*div.sidePanel:hover{
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
}*/

div.canvas{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    /*background: -webkit-linear-gradient(top left, #ffeeff, #ffebcd);
    background: -moz-linear-gradient(top left, #ffeeff, #ffebcd);*/
    background: #444499;
    box-shadow: -10px 10px 10px 1px #827e7d;
    float: right;
}

canvas{
    background-color: #feffff;
    margin:5px;
}
